/* Tags */

html {
    font: 14px Verdana;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

hr {
    border-top:2px solid grey;
}

input {
    
}


/* Class */

.main-conteiner {
    display: flex;
    justify-content: center;
    width: 90%;
    border: 1px solid black;
    margin: 5%;
}

.login-conteiner {
    width: 50%;
    height: 500px;
    border: 1px solid black;
    margin: 5px;
}

.btn {
    width: 100px;
}

