/* Tags */

html {
    font: 14px Verdana;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

hr {
    border-top:2px solid grey;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="text"] {
    display: block;
    width: 20%;
    height: 30px;
    margin: 10px 40% 10px 40%;
}

input[type="checkbox"] {
    margin: 10px 0 10px 35%;
}

label {
    margin: 0 10px 0 0px;
}


/* Class */

.main-conteiner {
    width: 98%;
    border: 1px solid black;
    margin: 1%;
}

.login-conteiner {
    width: 98%;
    height: 300px;
    border: 1px solid black;
    margin: 1%;
}

.btn {
    width: 30%;
    height: 30px;
    margin: 10px 35% 10px 35%;
}

.Href {
    color: blue;
    margin: 10px 10px 10px 40px;
}