.main-conteiner {
    width: 80%;
    height: 500px;
    margin: 40px 10% 0 10%;
    border: 1px solid black;
}

.login-conteiner {
    width: 50%;
    height: 50%;
    margin: 40px 25% 40px 25%;
    border: 1px solid black;
}

.btn {
    display: block;
}

label {
    display: block;
}